<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.tapestryd.ionic-in-app-purchase-seed" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Monkey Store</name>
  <description>
    Ionic seed project for testing in-app purchase on both iOS and Android.
  </description>
  <author email="kbaker@kev.io" href="https://github.com/kevbaker/ionic-in-app-purchase-seed">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
